<h1>Create New Story</h1>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Pivotal ID</td>
        <td>Story</td>
        <td>Type</td>
        <td>Assigned To</td>
        <td>Date Found</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <%= render @stories %>
      <%= form_for @story, remote: true do |f| %>
      <tr>
        <td></td>
        <td><%= f.text_field :title, :class => "input-small", :placeholder => "Title" %></td>
        <td><%= f.select :story_type, options_for_select([['Bug', 'bug'], ['Feature', 'feature']]) %></td>
        <td><%= f.text_field :assigned_to, :class => "input-small", :placeholder => "Assigned To" %></td>
        <td><%= f.text_field :date, :class => "input-small", :placeholder => "Date Found" %></td>
        <td><%= f.text_field :status, :class => "input-small", :placeholder => "Status" %></td>
        <td><%= f.submit %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

